extends ../../layout/main.pug

block modules
  include ../../modules/inputArea/inputArea
  include ../../modules/button/button

block stylesheet
  link(rel="stylesheet", href="ChangingUserInformation.scss") 
  link(rel="stylesheet", href="../../modules/button/button.scss") 
  link(rel="stylesheet", href="../../modules/inputArea/inputArea.scss") 

block content
  main
    .changingUserInformationBlock
      .changingUserInformationBlockAvatar
        img(
          src="https://sun9-west.userapi.com/sun9-71/s/v1/ig1/BamHqWNcjrQcLUVLhTc71eNVRbqbotcbCnaQKUDIhyNlNdaATzxVmJhotnkSVA0FUnLebj9T.jpg?size=2000x1333&quality=96&type=album"
        )

      .changingUserInformationBlockTitle
        h1 Павел

      .inputArea
        +inputArea("text","Ваше имя","name", "Имя")
        +inputArea("text","Ваша фамилия","lastname", "Фамилия")
        +inputArea("tel","Ваш номер телефона","tel", "Телефон")
        +inputArea("text","Адрес вашей почты","mail", "Почта")
        +inputArea("text","Введите логин","login", "Логин")

        +button("/src/pages/ProfileInformation/ProfileInformation.pug", "Сохранить")
