body {
  background-color: azure;
}

.changingUserInformationBlock {
  width: 400px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -325px 0 0 -200px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgb(175, 216, 255);
  border-radius: 20px;
}

.changingUserInformationBlockAvatar {
  display: block;
  text-align: center;
  /* background-color: red; */
}

.changingUserInformationBlockAvatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.changingUserInformationBlockTitle h1 {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  /* background-color: red; */
}

.button {
  text-align: center;
}

.button button {
  background-color: #0088cc;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  line-height: 0.5;
  padding: 15px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 15px;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.inputArea {
  display: block;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  /* background-color: antiquewhite; */
}

.inputAreaLabel {
  display: block;
  margin-bottom: 0.25rem;
  margin-left: 5px;
}

.inputAreaInput {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #0088cc;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputAreaInput::placeholder {
  color: #212529;
  opacity: 0.4;
}

.inputAreaInput:focus {
  color: #525a63;
  background-color: #fff;
  border-color: #0088cc;
  outline: none;
  box-shadow: 0 0 0 0.2rem #0088cc;
}
