<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ProfileInformation.scss" />
    <title>Document</title>
  </head>
  <body>
    <div class="profileInformationBlock">
      <div class="profileInformationBlockAvatar">
        <img
          src="https://sun9-west.userapi.com/sun9-71/s/v1/ig1/BamHqWNcjrQcLUVLhTc71eNVRbqbotcbCnaQKUDIhyNlNdaATzxVmJhotnkSVA0FUnLebj9T.jpg?size=2000x1333&quality=96&type=album"
        />
      </div>
      <div class="profileInformationBlockTitle">
        <h1>Павел</h1>
      </div>

      <div class="profileInformationItem">
        <span class="profileInformationItemConst">Имя</span>
        <span class="profileInformationItemChange">Павел</span>
      </div>
      <div class="profileInformationItem">
        <span class="profileInformationItemConst">Фамилия</span>
        <span class="profileInformationItemChange">Постников</span>
      </div>
      <div class="profileInformationItem">
        <span class="profileInformationItemConst">Телефон</span>
        <span class="profileInformationItemChange">+79541171175</span>
      </div>
      <div class="profileInformationItem">
        <span class="profileInformationItemConst">Почта</span>
        <span class="profileInformationItemChange">Xroniks25@gmail.com</span>
      </div>
      <div class="profileInformationItem">
        <span class="profileInformationItemConst">Логин</span>
        <span class="profileInformationItemChange">Xroniks</span>
      </div>
        <div class="buttonBlock">
          <a class="button" href="/src/pages/ChangingUserInformation/ChangingUserInformation.hbs">
            <button type="submit">Изменить информацию</button>
          </a>
          <a class="button" href="/src/pages/ChangingPassword/ChangingPassword.hbs">
            <button type="submit">Изменить пароль</button>
          </a>
          <a class="button" href="/src/pages/Chat/Chat.hbs">
            <button type="submit">Выйти</button>
          </a>
        </div>
    </div>
  </body>
</html>
