body {
  background-color: #57f18a;
  margin: 0;
}

main {
  width: auto;
  height: 100vh;
  margin: 0;
  background-color: red;
}

.chatWindow {
  display: grid;
  height: 100%;

  grid-template-rows: 1fr 15fr;
  grid-template-columns: 3fr 10fr;
  background-color: aquamarine;
  margin: 0;
}

.dialogsBlockHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #186bb9;
}

.dialogsBlockItems {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 245, 141);
}

.messagesBlockHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2acbd6;
}

.messagesBlockWindowChat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cca4a4;
}

.button {
  text-align: center;
}

.button button {
  background-color: #0088cc;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  line-height: 0.5;
  padding: 15px 34px;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
