<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Chat.scss" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="chatWindow">
        <div class="dialogsBlockHeader">
          <a class="button" href="/src/pages/ProfileInformation/ProfileInformation.hbs">
            <button type="submit">Мой профиль</button>
          </a>
        </div>
        <div class="messagesBlockHeader">Header messages</div>
        <div class="dialogsBlockItems">Dialogs</div>

        <div class="messagesBlockWindowChat">
          <a class="button" href="/src/pages/Authorization/Authorization.hbs">
            <button type="submit">Войти</button>
          </a>
          <a class="button" href="/src/pages/Registration/Registration.hbs">
            <button type="submit">Зарегистрироваться</button>
          </a>
          <a class="button" href="/src/pages/Error404/Error404.hbs">
            <button type="submit">Ошибка 404</button>
          </a>
          <a class="button" href="/src/pages/Error500/Error500.hbs">
            <button type="submit">Ошибка 500</button>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
