<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Registration.scss" />
    <title>Document</title>
  </head>
  <body>
    <div class="registrationBlock">
      <div class="registrationBlockTitle">
        <h1>Регистрация</h1>
      </div>

        <label class="inputAreaLabel" for="name">Имя</label>
        <input
          class="inputAreaInput"
          type="text"
          name="name"
          id="name"
          placeholder="Ваше имя"
          value=""
        />

        <label class="inputAreaLabel" for="lastname">Фамилия</label>
        <input
          class="inputAreaInput"
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Ваша фамилия"
          value=""
        />

        <label class="inputAreaLabel" for="tel">Телефон</label>
        <input
          class="inputAreaInput"
          type="tel"
          name="tel"
          id="tel"
          placeholder="Ваш номер телефона"
          value=""
        />

        <label class="inputAreaLabel" for="mail">Почта</label>
        <input
          class="inputAreaInput"
          type="text"
          name="mail"
          id="mail"
          placeholder="Адрес вашей почты"
          value=""
        />

        <label class="inputAreaLabel" for="login">Логин</label>
        <input
          class="inputAreaInput"
          type="text"
          name="login"
          id="login"
          placeholder="Введите логин"
          value=""
        />

        <label class="inputAreaLabel" for="password">Пароль</label>
        <input
          class="inputAreaInput"
          type="password"
          name="password"
          id="password"
          placeholder="Введите пароль"
          value=""
        />

        <label class="inputAreaLabel" for="repeatPassword"
          >Повторите пароль</label
        >
        <input
          class="inputAreaInput"
          type="password"
          name="repeatPassword"
          id="repeatPassword"
          placeholder="Повторите пароль ещё раз"
          value=""
        />

        <a class="button" href="/src/pages/Authorization/Authorization.hbs">
          <button type="submit">Зарегистрироваться</button>
        </a>

        <a class="button" href="/src/pages/Error500/Error500.hbs">
          <button type="submit">Войти</button>
        </a>
      </div>
    </div>
  </body>
</html>
