body {
  background-color: azure;

  .registrationBlock {
    position: absolute;
    width: 400px;
    height: 750px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #afd8ff;
    border-radius: 20px;

    .registrationBlockTitle h1 {
      text-align: center;
      font-size: 2.25rem;
      font-weight: bold;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    .inputArea {
      width: 100%;
      padding: 10px 30px;
      margin-bottom: 1rem;
    }
  }
}
