<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Error404.scss" />
    <title>Document</title>
  </head>
  <body>
    <div class="error404Block">
      <div class="error404BlockTitle">
        <h1>Ошибка 404</h1>
      </div>
      <div class="error404BlockText">
        <p>
          Кажется что-то пошло не так! Страница, которую Вы запрашиваете, не
          существует. Возможно она устарела, была удалена, или был введён не
          верный адрес в адресной строке.
        </p>
      </div>
      <a class="button" href="/src/pages/Chat/index.hbs">
        <button type="submit">Перейти обратно в ЧАТ</button>
      </a>
    </div>
  </body>
</html>
