extends ../../layout/main.pug

block modules
  include ../../modules/inputArea/inputArea
  include ../../modules/button/button

block stylesheet
  link(rel="stylesheet", href="Error404.scss")
  link(rel="stylesheet", href="../../modules/button/button.scss") 

block content
  main
    .error404Block
      .error404BlockTitle
        h1 Ошибка 404

      .error404BlockText
        p Кажется что-то пошло не так! Страница, которую Вы запрашиваете, не существует. Возможно она устарела, была удалена, или был введён не верный адрес в адресной строке.

      +button("/src/pages/Chat/index.pug", "Перейти обратно в ЧАТ")
