body {
  background-color: azure;

  .changingPasswordBlock {
    position: absolute;
    width: 400px;
    height: 450px;
    margin: auto;
    padding-top: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #afd8ff;
    border-radius: 20px;

    .changingPasswordBlockAvatar {
      display: block;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }

    .changingPasswordBlockTitle h1 {
      font-size: 2.25rem;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    .inputArea {
      width: 100%;
      padding: 10px 30px;
      margin-bottom: 1rem;
    }
  }
}
