extends ../../layout/main.pug

block modules
  include ../../modules/inputArea/inputArea
  include ../../modules/button/button

block stylesheet
  link(rel="stylesheet", href="ChangingPassword.scss") 
  link(rel="stylesheet", href="../../modules/button/button.scss") 
  link(rel="stylesheet", href="../../modules/inputArea/inputArea.scss") 

block content
  main
    .changingPasswordBlock
      .changingPasswordBlockAvatar 
        img(src="../../../static/img/avatar.jpg")

      .changingPasswordBlockTitle
        h1 Павел

      .inputArea
        +inputArea("password","Введите ваш старый пароль","passwordOld", "Старый пароль")
        +inputArea("password","Введите новый пароль","passwordNew", "Новый пароль") 

        +button("/src/pages/ProfileInformation/ProfileInformation.pug", "Сохранить")
