<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ChangingPassword.scss" />
    <title>Document</title>
  </head>
  <body>
    <div class="changingPasswordBlock">
      <div class="сhangingPasswordBlockAvatar">
        <img
          src="https://sun9-west.userapi.com/sun9-71/s/v1/ig1/BamHqWNcjrQcLUVLhTc71eNVRbqbotcbCnaQKUDIhyNlNdaATzxVmJhotnkSVA0FUnLebj9T.jpg?size=2000x1333&quality=96&type=album"
        />
      </div>
      <div class="changingPasswordBlockTitle">
        <h1>Павел</h1>
      </div>

      <div class="inputArea">
        <label class="inputAreaLabel" for="passwordOld">Старый пароль</label>
        <input
          class="inputAreaInput"
          type="password"
          name="passwordOld"
          id="passwordOld"
          placeholder="Введите ваш старый пароль"
          value=""
        />

        <label class="inputAreaLabel" for="passwordNew">Новый пароль</label>
        <input
          class="inputAreaInput"
          type="password"
          name="passwordNew"
          id="passwordNew"
          placeholder="Введите новый пароль"
          value=""
        />

        <a class="button" href="/src/pages/ProfileInformation/ProfileInformation.hbs">
          <button type="submit">Сохранить</button>
        </a>
      </div>
    </div>
  </body>
</html>
